{% extends 'base.html' %}
{% block title %}إنشاء حساب{% endblock %}
{% block content %}
<section class="card" style="max-width:560px;margin:16px auto">
  <h2>إنشاء حساب جديد</h2>
  <div class="form-errors"></div>
  <form class="needs-validation" method="POST" novalidate>
    {% csrf_token %}
            {{form.username}}
            {{form.first_name}}
            {{form.last_name}}
            {{form.email}}
            {{form.password}}
            {{form.confirmpass}}
            <button class="btn" type="submit">إنشاء الحساب</button>
  

   
    <!-- <div class="form-row">
      <label for="email">البريد الإلكتروني</label>
      <input type="email" name="email" id="email" required>
    </div>
    <div class="form-row">
      <label for="password">كلمة المرور</label>
      <input type="password" name="password" id="password" required>
    </div>
    <div class="form-row">
      <label for="password_confirm">تأكيد كلمة المرور</label>
      <input type="password" name="password_confirm" id="password_confirm" required>
    </div> -->
    </form>
</section>
{% endblock %}